html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;outline:none}table{border-collapse:collapse;border-spacing:0}td,td img{vertical-align:top}input,select,button,textarea{margin:0;font-size:100%;outline:none}input[type="text"],input[type="password"],textarea{padding:0}input[type="checkbox"]{vertical-align:bottom}input[type="radio"]{vertical-align:text-bottom}sub{vertical-align:sub;font-size:smaller}sup{vertical-align:super;font-size:smaller}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}html{min-height:100%}body{color:#000;text-align:left;font-size:1em;min-height:100%}a,a:visited{color:#1f1f1f;text-decoration:none}a:hover{color:#1f1f1f;text-decoration:none}a:focus,a:active{color:#1f1f1f;text-decoration:none}h1,h2,h3,h4,h5,h6{font-weight:400}img{max-width:100%}.clr{clear:both}.clearfix:after{clear:both;content:"";display:table}
@font-face {
	font-family: 'Conv_Roboto-Bold';
	src: url('../fonts/Roboto-Bold.eot');
	src: local('☺'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Florentia-Regular';
	src: url('../fonts/Florentia-Regular.eot');
	src: local('☺'), url('../fonts/Florentia-Regular.woff') format('woff'), url('../fonts/Florentia-Regular.ttf') format('truetype'), url('../fonts/Florentia-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Roboto-Light';
	src: url('../fonts/Roboto-Light.eot');
	src: local('☺'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	font-size: 16px;
	font-family: 'Conv_Roboto-Regular';
	min-width: 1320px;
}
.header-top{
	background-color: #3bbada;
}
.fixed{
	width: 1300px;
	margin: auto;
}
.contact{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
.contact div{
	padding: 20px 0px 20px 40px;
	color: #fff;
}
.contact div a{
	color: #fff;
	font-size: 20px;
}
.contact div {
    color: #fff;
    font-size: 20px;
}
.contact .fa{
	padding-right: 10px;
}
.header-bottom .logo img{
	height: 70px;
	margin: 20px;
}
.header-bottom .fixed{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 50px;
	padding-bottom: 50px;
}
.menu-item{
	margin-left: 70px;
	height: 25px;
	font-size: 20px;
}
.menu-item:hover, .menu-item.active{
	border-bottom: 2px solid #3bbada;
}
#mainscreen img{
	width: 100%;
}
.not-menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	width: 1100px;
	margin: auto;
	margin-top: -100px;
}
.not-menu .not-menu-item{
	background: linear-gradient(90deg, #71C6DB, #07B4D2);
	color: #fff;
	width: 25%;
	text-align: center;
	padding: 50px;
}
.not-menu .not-menu-item a {
    color: #fff;
    font-size: 25px;
    line-height: 35px;
}
#welcome{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 1100px;
	margin: auto;
	padding: 50px 0;
}
.welcome-left{
	width: 60%;
}
.welcome-right{
	width: 40%;
	padding-left: 30px;
}
.welcome-left h1 span{
	color: #3BBADA;
}
.welcome-left h1 {
	padding-bottom: 30px;
	font-size: 26px;
}
.welcome-left p{
	font-size: 24px;
	text-indent: 20px;
	padding-bottom: 50px;
}
#grafic{
	border: 1px solid #ccc;
	padding: 35px;
}
#grafic .fa{
	color: #3bbada;
	font-size: 24px;
	padding-right: 10px;
}
#grafic h2{
	font-size: 24px;
	padding-bottom: 20px;
}
#grafic td{
	padding: 10px;
	font-size: 20px;
}
#grafic tr td:nth-child(odd){
	text-align: left;
}
#grafic tr td:nth-child(even){
	text-align: right;
}
#grafic table{
	width: 100%;
}
#enroll{
	padding: 5px 20px;
	background-color: #3bbada;
	color: #fff;
	font-size: 24px;
	width: 150px;
	margin: 20px auto 0;
	text-align: center;
	cursor: pointer;
}
#services{
	background-image: url(../img/bg-serv.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 50px;
}
#services h1, #docs h1{
	text-align: center;
	font-size: 32px;
	padding: 50px;
}
.serv-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
#services h2{
	text-align: left;
	font-size: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	color: #3bbada;
}
#services li{
	list-style-type: none;
	font-size: 19px;
}
.doctors{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}
.doctor {
    margin: 20px 3%;
    width: 27%;
}
.doc-name{
	background-color: #e0f6fc;
	padding: 10px;
}
.doc-name h5{
	font-weight: bold;
}
#feedback{
	background-image: url(../img/bg-bottom.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	margin-bottom: 20px;
}
#feedback .fixed{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 10px;
}
.feedback-text{
	background-color: #fff;
	padding: 10px 70px 70px;
	border-radius: 10px;
}
.feedback-item{
	margin: 20px;
	width: 34%;
}
.feedback-text:before{
	content: url(../img/quote1.png);
	float: left;
	padding-right: 10px;
}
.feedback-person{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	padding: 20px 20px 0 0 ;
}
.feedback-person img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.feedback-person p{
	padding: 40px 20px;
}
footer{
	background-color: #898989;
	color: #fff;
	padding: 20px 0;
}
footer .fixed{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
footer a, footer a:focus, footer a:active, footer a:visited, footer a:hover{
	color: #fff;
}
footer li{
	list-style-type: none;
}
footer .fa{
	padding-right: 10px;
}
.docs-page .doc-name{
	cursor: pointer;
}
.docs-page .doc-name:before{
	content: url('../img/strelka.png');
	float: right;
	transform: rotate(180deg);
}
#serv-content{
	background-image: url(../img/bg-serv-page.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	padding: 50px;
}
#serv-content .fixed{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.serv-left{
	width: 26%;
}
.serv-right{
	width: 74%;
	padding-left: 30px;
}
.serv-left h1{
	color: #1B788F;
	padding: 10px 0;
	font-weight: bold;
}
.serv-left li{
	list-style-type: none;
}
.serv-menu{
	border-right: 3px solid #1B788F;
}
.title {
    position: relative;
    top: 195px;
    left: 125px;
    text-align: center;
    width: 200px;
    font-weight: bold;
}
.reasons {
    width: 450px;
    height: 450px;
    margin: auto;
}
.reason:nth-child(2){
    position: relative;
    top: -35px;
    left: 150px;
}
.reason:nth-child(2) p {
    margin-top: -71px;
    margin-left: 40px;
    width: 70px;
    color: #fff;
    text-align: center;
}
.reason:nth-child(3) {
    position: relative;
    top: -30px;
    left: 312px;
}
.reason:nth-child(3) p {
    margin-top: -88px;
    margin-left: 30px;
    width: 70px;
    color: #fff;
    text-align: center;
}
.reason:nth-child(4) {
    position: relative;
    top: -125px;
    left: 0;
}
.reason:nth-child(4) p {
    margin-top: -100px;
    margin-left: 25px;
    width: 93px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.reason:nth-child(5) {
    position: relative;
    top: -87px;
    left: 61px;
}
.reason:nth-child(5) p {
    margin-top: -90px;
    margin-left: 35px;
    width: 70px;
    color: #fff;
    text-align: center;
}
.reason:nth-child(6) {
    position: relative;
    top: -188px;
    left: 256px;
}
.reason:nth-child(6) p {
    margin-top: -100px;
    margin-left: 25px;
    width: 89px;
    color: #fff;
    text-align: center;
}
.reason p {
	font-size: 14px;
}
.service-description h1{
	color: #07B4D2;
	padding-bottom: 10px;
}
.description{
	text-indent: 20px;
	padding-bottom: 20px;
}
button.accordion {
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    padding: 10px 0;
    width: 300px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
}
button.accordion:after {
    content: url('../img/strelka1.png');
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    transform: rotate(180deg);
}
button.accordion img {
    height: 20px;
}
button.accordion.active:after {
    content: url('../img/strelka1.png');
    transform: rotate(0deg);
}

div.service-text {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
#enroll-serv{
	padding: 5px 20px;
	margin-top: 20px;
	background-color: #3bbada;
	color: #fff;
	font-size: 18px;
	width: 150px;
	text-align: center;
	cursor: pointer;
	float: left;
	margin-right: 20px;
	border: 2px solid #3bbada;
}
#watch-price{
	padding: 5px 20px;
	margin-top: 20px;
	background-color: none;
	color: #000;
	font-size: 18px;
	width: 150px;
	text-align: center;
	cursor: pointer;
	float: left;
	margin-right: 20px;
	border: 2px solid #3bbada;
}
#schedule{
	margin-top: 20px;
	background-image: url(../img/bg-schedule.jpg);
	padding: 50px;
}
#schedule-button{
	margin: auto;
	padding: 10px 30px;
	width: 300px;
	background-color: #abe5f5;	
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
.doc-content{
	background-color: #e0f6fc;
	padding: 10px;
}
.doc {
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    padding: 10px 0;
    width: 300px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
}
.doc:before {
    content: url('../img/strelka.png');
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    transform: rotate(180deg);
    float: right;
}
.doc img {
    height: 20px;
}
.doc.active:before {
    content: url('../img/strelka.png');
    transform: rotate(0deg);
}
.about-doc {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
	background-color: #fff;
}
.about-doc span{
	color: #03C8FF;
}
.enroll-doc{
	padding: 5px 20px;
	margin-top: 20px;
	background-color: #3bbada;
	color: #fff;
	font-size: 18px;
	width: 150px;
	text-align: center;
	cursor: pointer;
	margin: 10px auto 20px;
}
.about-doc p{
	padding: 10px;
}
.about-doc p:nth-child(1){
	font-size: 20px;
}
.about-doc p:nth-child(2){
	font-size: 18px;
}
#price_page{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 30px;
}
#price td, #price th{
	padding: 10px 20px;
}
#price tr:nth-child(odd){
	background-color: #d1e1f4;
}
#price tr:nth-child(even){
	background-color: #e0f6fc;
}
#price tr:first-child{
	background-color: #3bbada;
	color: #fff;
}
#price tr td:first-child{
	border-right: 2px solid #3bbada;
}
#price tr td:nth-child(2){
	text-align: center;
}
.request-form {
    padding: 20px;
    padding-bottom: 5px;
    border: 2px solid #e0f6fc;
    width: 250px;
}
.price_table{
	width: 75%;
}
.price_table table{
	width: 95%;
}
.request{
	width: 25%;
	text-align: center;
}
.request-form h3{
	width: 100%;
	margin-bottom: 10px;
}
.request-form input[type="text"]{
	width: 90%;
	text-align: left;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #000;
	font-family: 'Conv_Roboto-Regular', sans-serif;
	color: #000;
	opacity: 1;
}
.request-form input[type="date"]{
	width: 90%;
	text-align: left;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #000;
}
.request-form input[type="date"], .request-form input[type="time"]{
	width: 90%;
	text-align: left;
	padding: 5px;
	margin-bottom: 10px;
	font-family: "Conv_Roboto-Regular", sans-serif;
	border: 1px solid #000;
}
.request-form input[type="submit"] {
    border: none;
    margin-top: 20px;
}
#serv, #doc-choice {
    margin-bottom: 0;
    background-image: url('../img/triangle.png');
  	background-position: right;
  	background-repeat: no-repeat;
}
#serv-select li, #doc-select li {
    padding: 5px 30px;
    border: 1px solid #000;
    font-size: 14px;
    font-family: 'Conv_Roboto-Regular', sans-serif;
    width: 175px;
    cursor: pointer;
    background-color: #fff;
    margin-top: -1px;
    color: #000;
    z-index: 5000;
}
#serv-select{
	position: relative;
	z-index: 5000;
}
#doc-select{
	position: relative;
    z-index: 4999;
}

#serv-select, #doc-select {
  	padding: 0;
  	margin: 0;
  	display: none;
    position: absolute;
    margin-left: 6px;
    list-style-type: none;
}
#doc-choice{
	margin-top: 10px;
}
#serv:focus ~ #serv-select{
	display: block;
}
#doc-choice:focus ~ #doc-select{
	display: block;
}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
	font-family: 'Conv_Roboto-Regular', sans-serif;
	color: #000;
	opacity: 1;
}
textarea::-moz-placeholder,  input::-moz-placeholder {
	font-family: 'Conv_Roboto-Regular', sans-serif;
	color: #000;
	opacity: 1;
}
#serv:after{
    content: "▼";
    float: right;
    color: #000;

}
#contacts_page{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 30px;
}
.contacts_table{
	width: 75%;
}
.contacts-items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	text-align: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 20px;
}
.contacts-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin: 20px 30px;
}
.contacts-item img{
	padding-right: 10px;
}
#schedule-page{
	background-color: #ebf7fa;
	padding: 50px;
}
#schedule-page h1{
	width: 100%;
	text-align: center;
}
#sched_date{
	text-align: right;
	padding-top: 20px;
}
#schedule_page{
	width: 100%;	
	margin-top: 20px;
}
#schedule_page td, #schedule_page th{
	padding: 10px;
	border: 1px solid #000;
}
#schedule_page th{
	text-align: center;
	padding: 20px 5px;
}
#schedule_page td:first-child{
	padding: 10px;
	border: 1px solid #000;
}
.red_schedule{
	background-color: red;
}
#schedule_page td:hover{
	background-color: #29AA57;
	cursor: pointer;
}
#schedule_page td.red_schedule:hover{
	background-color: red;
	cursor: not-allowed;
}
#schedule_page tr td:first-child:hover{
	background-color: #ebf7fa;
	cursor: default;
}
.mymap {
    height: 300px;
    width: 95%;
    margin: auto;
    border: 1px solid #f0f0f0;
}
#orderModal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    display: none;
}
#modal-content {
    width: 300px;
    background-color: #fff;
    margin: auto;
    position: relative;
    top: 100px;
    padding: 30px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    text-align: center;
}
/* Add Animation */
#modal-content {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
footer{
	height: 160px;
	margin-top: -200px;
}
#site{
	min-height: 100vh;
	padding-bottom: 200px;
	box-sizing: border-box;
}
#page{
	display: none;
}

/*Дальше ситили пишу Я*/

#admin_page, #client_page {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 30px;
}
#admin td, #admin th, #client td, #client th {
	width: auto;
	/*width: 350px;*/
	padding: 10px 20px;
}
#admin tr:nth-child(odd), #client tr:nth-child(odd){
	background-color: #d1e1f4;
}
#admin tr:nth-child(even), #client tr:nth-child(even){
	background-color: #e0f6fc;
}
#admin tr:first-child, #client tr:first-child{
	background-color: #3bbada;
	color: #fff;
}
#admin tr td:first-child, #client tr td:first-child{
	border-right: 2px solid #3bbada;
}
#admin tr td:nth-child(2), #client tr td:nth-child(2){
	text-align: center;
}
#admin td, #admin th, #client td, #client th{
	width: auto;
	/*width: 350px;*/
	padding: 10px 20px;
}
#admin tr:nth-child(odd), #client tr:nth-child(odd){
	background-color: #d1e1f4;
}
#admin tr:nth-child(even), #client tr:nth-child(even){
	background-color: #e0f6fc;
}
#admin tr:first-child, #client tr:first-child{
	background-color: #3bbada;
	color: #fff;
}
#admin tr td:first-child, #client tr td:first-child{
	border-right: 2px solid #3bbada;
}
#admin tr td:nth-child(2), #client tr td:nth-child(2){
	text-align: center;
}
.admin_table, .client_table {
	/*width: 75%;*/
}
.admin_table table, .client_table table{
	/*width: 95%;*/
	margin-left: 100px;
}
textarea {
	width: 95%;
}
.foo{
	margin-left:200px;
}
.foo, .foo1{
	display: inline-block;
}
